.favorite-icon:hover {
    color: red;
    cursor: pointer;
}
.dev-name:hover {
  color: steelblue;
  cursor: pointer;
}
.pm-name:hover {
  color: steelblue;
  cursor: pointer;
}
.bo-name:hover {
  color: steelblue;
  cursor: pointer;
}
.project-body:hover {
  cursor: pointer;
}
