.favorite-icon:hover {
  color: red;
  cursor: pointer;
}
.dev-name:hover {
  color: steelblue;
  cursor: pointer;
}
.pm-name:hover {
  color: steelblue;
  cursor: pointer;
}
.bo-name:hover {
  color: steelblue;
  cursor: pointer;
}
.project-clickable:hover {
  cursor: pointer;
}
.project-hidden {
  display: none;
}
.user-comment {
  color: lightblue;
}
