@emphasisColor: steelblue;

.favorite-icon:hover {
  color: red;
  cursor: pointer;
}
.dev-name:hover {
  color: @emphasisColor;
  cursor: pointer;
}
.pm-name:hover {
  color: @emphasisColor;
  cursor: pointer;
}
.bo-name:hover {
  color: @emphasisColor;
  cursor: pointer;
}
.project-clickable:hover {
  cursor: pointer;
}
.project-hidden {
  display: none;
}
.user-comment {
  color: green;
}
div .no-padding-bottom {
  padding-bottom: 0 !important;
}
.dashed-outline:hover {
  outline-width: 1px;
  outline-style: dashed;
  outline-color: blue;
}
.comment-container {
  display: none;
}
[class~=comment-delete]:hover {
  color: red !important;
}
[class~=root-comment-toggle]:hover {
  color: @emphasisColor;
  cursor: pointer;
}
[class~=root-comment-form] {
  display: none;
}
